<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Critique my work</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <link rel="stylesheet" href="assets/css/reset.css" />
    <link rel="stylesheet" href="assets/css/global.css" />
    <link rel="stylesheet" href="assets/css/projects.css" />
    <script type="speculationrules">
      {
        "prerender": [
          {
            "source": "document",
            "where": {
              "href_matches": "/*"
            },
            "eagerness": "moderate"
          }
        ]
      }
    </script>
  </head>
  <body
    hx-headers='{"Accept": "text/html", "apiKey": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN1ZGZya3dmbml3dmx0a2hvY3dnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzAyMjU2MjYsImV4cCI6MjA0NTgwMTYyNn0.F8eR45gCjvOynJnvyl3n5Pm8BuUpIfDF-HnNutgrUTY"}'
  >
    <header>
      <h1>Hello! Hola! Bonjour!</h1>
      <nav>
        <menu>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="blog.html">Blog</a>
          </li>
          <li>
            <a href="photos.html">Photos</a>
          </li>
          <li>
            <a class="active-nav" href="projects.html">Projects</a>
          </li>
        </menu>
      </nav>
    </header>
    <main>
      <div>
        <button
          hx-get="https://sudfrkwfniwvltkhocwg.supabase.co/rest/v1/rpc/get_projects"
          hx-target="#projects"
          hx-swap="innerHTML"
        >
          All Projects
        </button>
        <button
          hx-get="https://sudfrkwfniwvltkhocwg.supabase.co/rest/v1/rpc/get_work_projects"
          hx-target="#projects"
          hx-swap="innerHTML"
        >
          Work Projects
        </button>
        <button
          hx-get="https://sudfrkwfniwvltkhocwg.supabase.co/rest/v1/rpc/get_personal_projects"
          hx-target="#projects"
          hx-swap="innerHTML"
        >
          Personal Projects
        </button>
      </div>
      <div
        class="projects"
        id="projects"
        hx-get="https://sudfrkwfniwvltkhocwg.supabase.co/rest/v1/rpc/get_projects"
        hx-swap="innerHTML"
        hx-trigger="load"
      >
        <div class="htmx-indicator">Loading...</div>
      </div>
    </main>
    <footer>
      <a href="https://github.com/christ-offer" target="_blank">
        <ion-icon name="logo-github"></ion-icon>
      </a>
      <a href="https://www.linkedin.com/in/chris-holst/" target="_blank">
        <ion-icon name="logo-linkedin"></ion-icon>
      </a>
    </footer>
  </body>
</html>
