/*
Blog
*/
.blog-search-container {
  justify-items: center;
  margin-block: 2rem;
  display: grid;

  .blog-page-title {
    margin-bottom: 0.5rem;
  }

  #search {
    width: 33ch;
    padding: 0.5rem;
    color: antiquewhite;
    border: var(--primary-400) 3px solid;
    border-radius: 10px;
    background: transparent;
    align-self: center;
  }
  #search:focus {
    outline: none;
    border: var(--primary-200) 3px solid;
  }
}

.post-card {
  margin-bottom: 1rem;
  border: var(--primary-200) 2px dashed;
  border-radius: 5px;
  padding: 2rem;

  article {
    display: grid;
  }

  a {
    color: var(--primary-400);
    font-family: "Noto Serif", sans-serif;
    font-size: 1rem;
    margin: auto;
    margin-block: 2rem;
  }

  .center-text {
    text-align: center;
  }

  h2 {
    max-width: 25ch;
    text-align: center;
    margin: auto;
    margin-bottom: 0.5rem;
  }

  h3 {
    margin-block-start: 1rem;
    margin-block-end: 0.5rem;
  }

  h4 {
    margin-block-start: 1rem;
    margin-block-end: 0.5rem;
  }

  h5 {
    margin-block-start: 0.8rem;
    margin-block-end: 0.4rem;
  }

  img {
    margin: auto;
    margin-block: 2rem;
  }

  small {
    color: gray;
    font-size: 0.8rem;
    text-align: right;
  }

  .body {
    margin-top: 0.5rem;
    display: grid;

    a {
      color: var(--primary-400);
      font-family: "Noto Serif", sans-serif;
      font-size: 1rem;
    }
  }
}

.pagination {
  display: grid;
  max-width: 33ch;
  place-self: center;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  span {
    color: gray;
  }
}
