/*
Blog
*/

@import url("components/button.css");
@import url("components/blog-card.css");

.blog-search-container {
  justify-items: center;
  margin-block: 2rem;
  display: grid;

  .blog-page-title {
    margin-bottom: 0.5rem;
  }

  #search {
    width: 33ch;
    padding: 0.5rem;
    color: antiquewhite;
    border: var(--primary-400) 3px solid;
    border-radius: 10px;
    background: transparent;
    align-self: center;
  }
  #search:focus {
    outline: none;
    border: var(--primary-200) 3px solid;
  }
}

.pagination {
  display: grid;
  max-width: 33ch;
  place-self: center;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  span {
    color: gray;
  }
}
