/*
Blog
*/

.post {
  margin-bottom: 1rem;
  border: #00dc82 2px dashed;
  border-radius: 5px;
  padding: 2rem;

  .center-text {
    text-align: center;
  }

  a {
    color: cornflowerblue;
    font-family: "Noto Serif", sans-serif;
    font-size: 1rem;
  }

  h2 {
    max-width: 25ch;
    text-align: center;
    margin: auto;
    margin-bottom: 0.5rem;
  }

  h3 {
    margin-block-start: 1rem;
    margin-block-end: 0.5rem;
  }

  h4 {
    margin-block-start: 1rem;
    margin-block-end: 0.5rem;
  }

  h5 {
    margin-block-start: 0.8rem;
    margin-block-end: 0.4rem;
  }

  img {
    margin: auto;
    margin-block: 2rem;
  }

  small {
    color: gray;
    font-size: 0.8rem;
  }

  .body {
    margin-top: 0.5rem;
    display: grid;
  }
}

.pagination {
  display: grid;
  max-width: 33ch;
  place-self: center;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  span {
    color: gray;
  }
}
