/*
Home Page
*/

@import url("components/button.css");
@import url("components/blog-card.css");

.intro {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-block: 4rem;
  margin-top: 2rem;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.3)
    ),
    url("../images/self_portrait.webp");
  background-size: cover;
  padding: 2rem;

  .intro-heading {
    color: var(--primary-300);
    margin-block: 1rem;
  }

  .intro-link {
    display: inline-block;
    padding-inline: 0.1rem;
    font-size: 1rem;
    font-weight: 600;
    transition: transform 0.2s ease;
  }
}

@media screen and (min-width: 750px) {
  .intro {
    grid-template-columns: 1fr 1fr;
    background-position: right -12rem top;
    background-size: 120%;
    margin-block: 4rem;
  }
}

.latest-section {
  display: grid;
  gap: 1rem;
}
