/*
Home Page
*/

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-block: 4rem;

  .intro-link {
    display: inline-block;
    padding-inline: 0.1rem;
    font-size: 1rem;
    font-weight: 600;
    transition: transform 0.2s ease;
  }
  .vue-link {
    color: #42b883;
  }
  .nuxt-link {
    color: #00dc82;
  }
  .node-link {
    color: #339933;
  }
  .ts-link {
    color: #3178c6;
  }
  .pg-link {
    color: #336791;
  }
  .supabase-link {
    color: #3ecf8e;
  }
  .python-link {
    color: #3572a5;
  }
  .deno-link {
    color: #2b7489;
  }
  .htmx-link {
    color: #8a2be2;
  }
  .aws-link {
    color: #ff9900;
  }
  .shopify-link {
    color: #96bf48;
  }

  .vue-link:hover,
  .nuxt-link:hover,
  .node-link:hover,
  .ts-link:hover,
  .pg-link:hover,
  .python-link:hover,
  .deno-link:hover,
  .htmx-link:hover,
  .aws-link:hover,
  .shopify-link:hover,
  .supabase-link:hover {
    text-shadow: 0 0 2px currentColor;
  }
}

.latest-section {
  display: grid;
  gap: 1rem;
}

.post-card {
  margin-bottom: 1rem;
  border: #00dc82 2px dashed;
  border-radius: 5px;
  padding: 2rem;

  article {
    display: grid;
  }

  a {
    color: orange;
    font-family: "Noto Serif", sans-serif;
    font-size: 1rem;
    margin: auto;
    margin-block: 2rem;
  }

  .center-text {
    text-align: center;
  }

  h2 {
    max-width: 25ch;
    text-align: center;
    margin: auto;
    margin-bottom: 0.5rem;
  }

  h3 {
    margin-block-start: 1rem;
    margin-block-end: 0.5rem;
  }

  h4 {
    margin-block-start: 1rem;
    margin-block-end: 0.5rem;
  }

  h5 {
    margin-block-start: 0.8rem;
    margin-block-end: 0.4rem;
  }

  img {
    margin: auto;
    margin-block: 2rem;
  }

  small {
    color: gray;
    font-size: 0.8rem;
    text-align: right;
  }

  .body {
    margin-top: 0.5rem;
    display: grid;

    a {
      color: darkolivegreen;
      font-family: "Noto Serif", sans-serif;
      font-size: 1rem;
    }
  }
}
