/*
Projects
*/

@import url("components/button.css");
@import url("components/project-post.css");

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-block: 2rem;

  .all-projects-filter {
    padding: 0.5rem 1rem;
    background: transparent;
    border: none;
    color: var(--text-light-primary);
    cursor: pointer;
  }
  .work-projects-filter {
    padding: 0.5rem 1rem;
    background: transparent;
    border: none;
    color: var(--text-light-primary);
    cursor: pointer;
  }
  .personal-projects-filter {
    padding: 0.5rem 1rem;
    background: transparent;
    border: none;
    color: var(--text-light-primary);
    cursor: pointer;
  }
}

.projects {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}
