---
// Server ran / terminal ran code
import SiteLayout from '../layouts/SiteLayout.astro'

---
<SiteLayout>
	<article>
      <main>
      	<section class="intro">
      		<img src="/img/fluffmonster.png" alt="a bat that with flowers and colors around it" width="200">
      		<p>So you somehow found your way here. That's one more than the zero I expected</p>
      		<p>So I guess I should probably say some words, I dunno, about either the site or myself. Perhaps both?</p>
      	</section>
      	<section class="tech">
      		<h2>The site is built using</h2>
      		<ul>
      			<li>Astro Js</li>
      			<li>Some Vue</li>
      			<li>Some JS</li>
      			<li>Chart.js for the Graphs</li>
      		</ul>
      		<h2>Projects</h2>
      		<ul>
	      		<li>Well, this website I guess</li>
    	  		<li>The Historic Temperature/Weather graphs</li>
      			<li>??</li>
      		</ul>
      	</section>
      	<section class="about-me">
      		<h2>Dayjob</h2>
      		<p>I ply my trade at a small Dev Studio called <a href="https://seam.es"> Seam</a> (We neither work with plywood nor seams). Rather we do some inhouse work and take on clients. If you need something done. Hit us up.</p>
      	</section>
      </main>
   </article>
</SiteLayout>
<style>
   article {
   	  width: 100%;
   	  max-width: 70%;
      background-color:  hsl(220, 50%, 95%);
      margin-top: 5rem;
      padding: 1rem;
      border-radius: 2px;
     display: grid;
     grid-column-start:  2;
     place-self: start center;
     overflow: hidden;
   }
   article main {
      padding: 1rem;
      display: grid;
   }
   article main img {
   	border-radius: 5px;
   }
   article h3 {
      padding-bottom: 1rem;
      max-width: 60%;
      place-self: center;
      text-align: center;
   }
   article ul {
   	list-style: square;
   	margin-block: 1rem;
   	margin-left: 3rem;
   }
   article p {
   	margin-block: 0.5rem;
   }
   .intro {
   	display: grid;
   }
   .intro img {
   	margin-bottom: 2rem;
   	margin-inline: auto;
   }
   a {
   	text-decoration:  none;
   	color: purple;
   }
</style>