---
// Server ran / terminal ran code
import SiteLayout from '../layouts/SiteLayout.astro'

---
<SiteLayout>
	<main>
		<article>
			<h1>Hello welcome to my site</h1>
		</article>
	</main>
</SiteLayout>
<style>
	main {
		max-width:  80%;
		margin:  auto;
		margin-top: 5rem;
	}

</style>