---
// Server ran / terminal ran code
import SiteLayout from '../layouts/SiteLayout.astro'
const posts = await Astro.glob('./posts/*.md');

---
<SiteLayout>
	<main>
	<section class="blog">
		{posts.map(post => (
		<article class="post-container">
			<h2>{post.frontmatter.title}</h2>
			<p>{post.frontmatter.exerpt}</p>
			<p class="author">Posted by {post.frontmatter.author}</p>
			<a href={post.url}>Read more</a>
		</article>
		))}
	</section>
	</main>
</SiteLayout>
<style>
	main {
		max-width: 60%;
		padding:  1rem;
		margin: auto;
		margin-top: 5rem;
		display: grid;
		grid-column-start: 2;
		
	}
	a {
		text-decoration:  none;
		color: black;
		text-align: right;
	}
	a:hover {
		text-decoration:  underline;
	}
	h2 {
		border-bottom: 1px solid black;
		font-size: 2rem;
		text-align: center;
		padding-bottom: 1rem;
	}
	.blog {

	}
	.post-container {
		padding: 1rem;
		border-radius: 2px;
		display: grid;
		background-color:  hsl(220, 50%, 95%);
		margin-bottom: 2rem;
	}
	p {
		padding:  1rem;
	}
</style>