---
// Server ran / terminal ran code
import SiteLayout from '../layouts/SiteLayout.astro'
const posts = await Astro.glob('./posts/*.md');

---
<SiteLayout>
	<main>
	<section class="blog">
		{posts.map(post => (
			<article class="post-container">
				<header>
				<h2>{post.frontmatter.title}</h2>
			</header>
				<p>{post.frontmatter.exerpt}</p>
			<footer>
				<p class="author">Posted by {post.frontmatter.author}</p>
				<a href={post.url}>Read more</a>
			</footer>
		</article>
		))}
	</section>
	</main>
</SiteLayout>
<style>
	main {
		max-width: 60%;
		
		margin: auto;
		margin-top: 5rem;
		display: grid;
		grid-column-start: 2;
		
	}
	a {
		text-decoration:  none;
		color: black;
		text-align: right;
	}
	a:hover {
		text-decoration:  underline;
	}
	.blog header {
		background-color: rebeccapurple
	}
	h2 {
		
		text-align: center;
		padding-block: 1rem;
		color: whitesmoke
	}
	.blog {

	}
	.post-container {

		border-radius: 2px;
		display: grid;
		background-color:  hsl(220, 50%, 95%);
		margin-bottom: 2rem;
	}
	p {
		padding:  1rem;
	}
</style>