---
// Server ran / terminal ran code
import SiteLayout from '../layouts/SiteLayout.astro'
const posts = await Astro.glob('./posts/*.md');
import Post from '../components/Post.astro'

---
<SiteLayout>
	<main>
		{posts.map(post => (
		<Post class="post-container">
			<h2>{post.frontmatter.title}</h2>
			<p>{post.frontmatter.exerpt}</p>
			<p class="author">Posted by {post.frontmatter.author}</p>
			<a href={post.url}>Read more</a>
		</Post>
		))}
	</main>
</SiteLayout>
<style>
	main {
		max-width:  40%;
		margin:  auto;
		padding:  1rem;
		margin-top: 5rem;
		display: grid;
	}
	a {
		text-decoration:  none;
		color: black;
		text-align: right;
	}
	a:hover {
		text-decoration:  underline;
	}
	h2 {
		border-bottom: 1px solid black;
		font-size: 2rem;
		text-align: center;
		padding-bottom: 1rem;
	}
	.post-container {
		padding: 1rem;
		border-radius: 2px;
		display: grid;
	}
	p {
		padding:  1rem;
	}
</style>