---
// Server ran / terminal ran code
import Graph from '../components/Graph.vue'
---
<html>
	<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <body>
  	<header>
  		<h1>Welcome</h1>
  	</header>
  	<main>
  		<Graph client:load />
  	</main>
  </body>
</html>
<style>
</style>