---
export interface Post {
	title: String,
	description: String,
	author: String,
}

const { title, description, author } = Astro.props as props
---

<div>

	<slot />

</div>
<style>
	div {
		background-color:  hsl(220, 50%, 95%);
		padding: 1rem;
		border-radius: 2px;
		display: grid;
	}
</style>