---
import SiteLayout from '../layouts/SiteLayout.astro'
const {frontmatter} = Astro.props;
---
<SiteLayout>
   <article>
   <!-- ... -->
      <header>
         <h1>{frontmatter.title}</h1>
      </header>
      <h3>{frontmatter.description}</h3>
      <slot />
      <p>{frontmatter.author}</p>
   </article>
   <!-- ... -->
</SiteLayout>
<style>
   article {
    max-width: 50%;
    margin: auto;  
    background-color:  hsl(220, 50%, 95%);
    margin-top: 10rem;
   }
   h1 {
      font-size:  32px
   }
   img {
      max-width:  25%;
   }
</style>