<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to my little corner of the web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <div class="landing">
      <img src="/img/foxinbox.png" alt="">
    </div>
      <nav>
        <ul>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/projects/on-this-day">Projects</a>
        </ul>
      </nav>
    </header>
    <article>
      <slot /> <!-- your content is injected here -->
    </article>
  </body>
</html>
<style>
  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
  */

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }


  ul {
    margin-bottom: -0.5rem;
  }
  a {
    text-decoration:  none;
    color: black;
    font-size: 24px;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0.5rem;
    background-color:  hsl(220, 50%, 95%);

  }
  body {
    background-color: #fafafa;
  }
  header {
    background-color:  hsl(220, 50%, 95%);
  }
  .landing {
    overflow:  hidden;
    display: grid;
    place-items: center;
  }
  img {
    max-height: 10rem;
    position: relative;
    margin: auto;
    top: 0;
  }
  nav {
    display: grid;
    padding-top: 2rem;
    place-items: end center;
    margin:  auto;
    width:  40%;
  }
</style>