<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to my little corner of the web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/reset.css">
  </head>
  <body>
    <header>
      <div class="landing">
        <img src="/img/foxinbox.png" alt="">
      </div>
      <nav>
        <ul>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/projects/on-this-day">Projects</a>
        </ul>
      </nav>
    </header>
    <section class="content-container">
      <slot /> <!-- your content is injected here -->
    </section>
  </body>
</html>
<style>
  body {
    background-image: url('https://mj-gallery.com/1d08ab69-84d4-471a-a554-3c4aaa1f4b1d/grid_0.png');
    background-repeat: no-repeat;
    background-size: 140% auto;
    font-size: 100%;
    max-height: 100vh;
    font-size: clamp(0.8rem, 0.7222222222222223rem + 0.3888888888888889vw, 1.5rem);
  }
  header {
    background-color:  hsl(220, 20%, 20%, 0.6);
  }
  header ul {
    margin-bottom: -0.5rem;
  }
  header ul a {
    text-decoration:  none;
    color: black;
    font-size: 24px;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0.5rem;
    background-color:  hsl(220, 50%, 95%);

  }
  header .landing {
    overflow:  hidden;
    display: grid;
    place-items: center start;
  }
  header .landing img {
    max-height: 5rem;
    position: relative;
    top: 0;
  }
  header nav {
    display: grid;
    place-items: end center;
    margin:  auto;
    width:  40%;
  }
  .content-container {
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(0, 1200px) minmax(1rem, 1fr);
    margin: auto;
  }
</style>